@font-face {
    font-family: 'Helvetica Neue';
    src: url('/assets/fonts/helvetica-neue/helvetica-neue.eot');
    src: url('/assets/fonts/helvetica-neue/helvetica-neue.eot') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helvetica-neue.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helvetica-neue.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helvetica-neue.svg#HelveticaNeueRegular') format('svg');
}

html, body{
    margin : 0px;
    font-family : 'Helvetica Neue', sans-serif;
    background-color : #E8E8E8;
    color : #2b2b2b;
}
table{
    border-collapse : collapse;
    margin : auto;
    width : 90%;
    margin-bottom : 80px;
}
tr, td, th{
    border : 1px solid black;
    padding : 5px;
}

td a i{
    color : #2b2b2b !important;
    font-size : 22px !important;
}

th{
    background-color :  #434343;
    color : #fff;
    font-size : 22px;
}
td{
    background-color : #fff;
}

.cont-admin{
    margin : auto;
    width : 500px;
    margin-top : 2%;
    text-align : center;
}

.titre-co{
    background-color : #434343;
    color : #fff;
    padding : 5px 0px 5px 0px;
}

.form-admin{
    background-color : #fff;
    text-align : justify;
    padding : 50px 0px 50px 0px;
}

button{
    color : #fff;
    font-size : 15px;
    background-color : #434343;
    border : 1px solid #E8E8E8;
    padding : 5px 8px 5px 8px;
    cursor : pointer;
}
button:hover{
    background-color : #656565;
}
.item-admin{
    margin : 15px 0px 15px 110px;
}

.cont-admin a{
    display : block;
    float : right;
    text-decoration : none;
    color : #000;
    font-size : 15px;
}

.a-fake{
    cursor : pointer;
}
a{
    text-decoration : none;
}

nav{
    margin : auto;
    width : 500px;
}

nav a{
    color : #fff;
    background-color : #434343;
    font-size : 24px;
    margin-right : 9px;
    padding : 10px 25px 10px 25px;
}
nav a:hover{
    background-color : #656565;
}
nav a:last-of-type{
    margin-right : 0px;
}

.add{
    color : #fff;
    background-color : #434343;
    font-size : 18px;
    padding : 8px 15px 8px 15px;
    display : block;
    float : right;
}

.add:hover{
    background-color : #656565;
}

.etat{
    float : left;
    color : #fe6600;
}

.tete{
    margin : auto;
    width : 90%;
    margin-bottom : 20px;
    margin-top : 30px;
}
.tete h2{
    text-align : center;
}
.aux{
    margin : auto;
    width : 600px;
    margin-bottom : 40px;   
}

i{
    color : #000;
    margin-right : 7px;
    font-size : 14px;
}
i:last-of-type{
    margin-right : 7px;
    margin-left : 7px;
}
.op{
    text-align : center;
}

.cont-admin a:hover{
    text-decoration : underline;
}

.cont-headb{
    width : 960px;
    margin : auto;
}
.cont-headb #logout{
    display : block;
    float : right;
}   

.head-back{
    background-color : #434343;
    line-height : 50px;
    margin-bottom : 35px;
    font-size : 18px;
}

.head-fiche{
    font-size: 18px;
    font-weight: bold;
}

.head-back a{
    text-decoration : none;
    color : #fff;
}
.accueil{
    width : 900px;
    margin : auto;
    background-color : #fff;
    border-radius : 8px;
    padding-bottom : 120px;
    padding-top : 25px;
}
.accueil h2{
    text-align : center;
    font-size : 36px;
}
.accueil li{
    list-style-type : none;
    margin-top : 30px;
}
.accueil li:first-of-type{
    margin-top : 0px;
}
.accueil ul{
    text-align : justify;
    width : 500px;
    margin : auto;
}
.accueil a{
    color : #fff;
    background-color : #434343;
    font-size : 24px;
    padding : 10px 25px 10px 25px;
}
.accueil a:hover{
    background-color : #656565;
}

.alt-re{
    color : #fff;
    background-color : #434343;
    font-size : 18px;
    padding : 8px 15px 8px 15px;
}
.alt-sect{
    width : 800px;
    margin : auto;
}
.form-alt{
    background-color : #fff;
    text-align : justify;
    padding : 30px 0px 30px 0px;
    border-radius : 5px;
    margin-bottom : 60px;
}
.input-alt{
    margin-left : 20%;
    margin-top : 1%;
}

.input-alt textarea{
    width : 420px;
    height : 180px;
}

.clearfix:after{
    float : none;
    clear : both;
    display : block;
    content : "";
}

.alt-lab{
    margin : 0;
    margin-bottom : 10px;
    font-size : 16px;
    font-weight : bold;
}

#fiche-sect{
    background-color : #fff;
    border-radius : 5px;
}

.cont-fiche{
    width : 85%;
    margin : auto;
    padding-top : 40px;
    padding-bottom : 40px;
}

i{
    color : #fff;
}